> test info



test suite: `nbomber_default_test_suite_name`

test name: `nbomber_default_test_name`

session id: `2026-03-10_21-19-57_a558d2b0`

> scenario stats



scenario: `text_search_scenario`

  - ok count: `422171`

  - fail count: `0`

  - all data: `0` MB

  - duration: `00:02:30`

load simulations:

  - `ramping_constant`, copies: `100`, during: `00:00:30`

  - `keep_constant`, copies: `100`, during: `00:02:00`

|step|ok stats|
|---|---|
|name|`global information`|
|request count|all = `422171`, ok = `422171`, RPS = `2814.47`|
|latency (ms)|min = `3.14`, mean = `31.77`, max = `221.3`, StdDev = `15.79`|
|latency percentile (ms)|p50 = `28.66`, p75 = `37.66`, p95 = `63.9`, p99 = `87.62`|




