> test info



test suite: `nbomber_default_test_suite_name`

test name: `nbomber_default_test_name`

session id: `2026-03-08_16-49-21_8815dc0b`

> scenario stats



scenario: `text_search_scenario`

  - ok count: `829898`

  - fail count: `0`

  - all data: `0` MB

  - duration: `00:02:30`

load simulations:

  - `ramping_constant`, copies: `100`, during: `00:00:30`

  - `keep_constant`, copies: `100`, during: `00:02:00`

|step|ok stats|
|---|---|
|name|`global information`|
|request count|all = `829898`, ok = `829898`, RPS = `5532.65`|
|latency (ms)|min = `3.06`, mean = `16.16`, max = `74.01`, StdDev = `4.46`|
|latency percentile (ms)|p50 = `15.66`, p75 = `18.53`, p95 = `23.3`, p99 = `28.69`|




