> test info



test suite: `nbomber_default_test_suite_name`

test name: `nbomber_default_test_name`

session id: `2026-03-10_00-03-41_18a1a5b2`

> scenario stats



scenario: `text_search_scenario`

  - ok count: `798928`

  - fail count: `0`

  - all data: `0` MB

  - duration: `00:02:30`

load simulations:

  - `ramping_constant`, copies: `100`, during: `00:00:30`

  - `keep_constant`, copies: `100`, during: `00:02:00`

|step|ok stats|
|---|---|
|name|`global information`|
|request count|all = `798928`, ok = `798928`, RPS = `5326.19`|
|latency (ms)|min = `3.19`, mean = `16.79`, max = `101.47`, StdDev = `5.73`|
|latency percentile (ms)|p50 = `16.02`, p75 = `19.1`, p95 = `24.88`, p99 = `33.89`|




